server:
  persistentVolume:
    enabled: true
    size: 8Gi
  
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  
  retention: "15d"
  
  service:
    type: NodePort
    nodePort: 30090
  
  global:
    scrape_interval: 15s
    scrape_timeout: 10s
    evaluation_interval: 15s

alertmanager:
  enabled: true
  persistentVolume:
    enabled: true
    size: 2Gi
  
  service:
    type: NodePort
    nodePort: 30093

pushgateway:
  enabled: false

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true

serviceMonitors:
  enabled: true

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: 'quote-app'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names:
                - quote-app
                - quote-app-terraform
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_label_app]
            action: keep
            regex: quote-app
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_service_name]
            target_label: service
